<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-04-28 18:55:34
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magiccart" translate="label" sortOrder="999999999">
            <label>Magiccart</label>
        </tab>
        <section id="magiccart_community" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Community</label>
            <tab>magiccart</tab>
            <resource>Magiccart_Community::config</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="feed" translate="label comment" type="text" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Feed</label>
                    <frontend_model>Magiccart\Community\Block\Adminhtml\System\Feed</frontend_model>
                    <comment>Feed</comment>
                    <comment>
                        <![CDATA[
                            <script type="text/javascript">
                                require(['jquery', 'magiccart/slick', magiccart/feed']);
                            </script>
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
